html, body {
    margin: 0;
    padding: 0;
}

.wrapper {
    background-color: #F5F5F5;
}

.row {
    padding-bottom: 30px;
}
.header h5 {
    font-size: 60px;
    font-family: "Roboto", sans-serif;
    font-weight: 700;
    color: #212121;
    padding-top: 50px;
    padding-bottom: 25px;
}


/* Portfolio Websites Section */

.portfolio_section {
    padding-bottom: 50px;
}

.cont {
    position: relative;
    width: 100%;
    
    box-shadow: 0 4px 6px 0 rgba(0, 0, 0, 0.2), 0 6px 15px 0 rgba(0, 0, 0, 0.17);
}

.image {
  display: block;
  width: 100%;
  height: auto;

}

.overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: .5s ease;
  background-color: #000;
}

.cont:hover .overlay {
  opacity: 0.9;
}


/* Portfolio Text */
.text {
  color: #f5f5f5;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
    text-align: center;
}

.text h5 {
    text-transform: uppercase;
    font-family: "Roboto", sans-serif;
    font-weight: 700;
    font-size: 36px;
}

.text p {
    font-size: 18px;
    line-height: 5px;
    font-weight: 300;
    font-family: 'Roboto', sans-serif;
    padding-bottom: 30px;
}

.text a {
    color: #f5f5f5;
    text-transform: uppercase;
    padding: 10px 45px;
    border: 1px solid #f5f5f5;
    font-family: "Roboto", sans-serif;
    font-size: 14px;
    font-weight: 500;
}

.text a:hover, .text a:active, .text a:visited, .text a {
    text-decoration: none;
    color: #f5f5f5;
}


/* Footer */

footer {
    background-image: url("http://i66.tinypic.com/10mizd2.jpg");
    background-repeat: no-repeat;
	-webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    
    padding-top: 30px;
    padding-bottom: 30px;
}

footer .col-md-3 p {
    font-family: "Roboto", sans-serif;
    font-weight: 300;
    font-size: 18px;
    color: #757575;
    padding-top: 30px;
}

footer .col-md-3 h5 {
    font-family: "Roboto", sans-serif;
    font-weight: 700;
    font-size: 30px;
    color: #fefefe;
    line-height: 7px;
}

footer .col-md-7 {padding-top: 40px; text-align: right;}
footer .col-md-7 p {
    color: #757575;
    line-height: 7px;
    font-family: "Roboto", sans-serif;
    font-size: 18px;
    font-weight: 300;
}

footer .col-md-7 a {
    color: #fff;
    font-weight: 700;
    text-decoration: none;
}

footer .col-md-7 a:hover, footer .col-md-7 a:active, footer .col-md-7 a:visited {
    text-decoration: none;
}

footer .col-md-7 a:first-child:hover {
    opacity: 0.3;
}

.links {
    padding-top: 20px;
}

.links a {
    opacity: 0.3;
}

.links a:hover {
    opacity: 1;
}

.skype {
    padding-right: 10px;
}


@media screen and (max-width:768px) {
    footer .container {
        text-align: center;
    }
    footer .col-md-7 {
        text-align: center;
    }
    
    
}

@media screen and (max-width: 990px) {
    .portfolio_section .mobile {
        padding-bottom: 30px;
    }
}

@media screen and (max-width: 426px) {
    .text p {
        line-height: 20px;
    }
}
